.feature-card1-feature-card {
  width: 241px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.feature-card1-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1-image {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}








@media(max-width: 767px) {
  .feature-card1-feature-card {
    width: auto;
  }
}
@media(max-width: 479px) {
  .feature-card1-feature-card {
    width: auto;
    height: auto;
    margin: var(--dl-space-space-halfunit);
    align-items: center;
  }
  .feature-card1-root-class-name {
    width: 100%;
    opacity: 1;
  }
  .feature-card1-root-class-name1 {
    width: 100%;
    opacity: 1;
  }
  .feature-card1-root-class-name2 {
    width: 100%;
    height: auto;
    opacity: 1;
    margin-left: 0px;
  }
  .feature-card1-root-class-name3 {
    width: 100%;
    opacity: 1;
  }
  .feature-card1-root-class-name4 {
    width: 100%;
    opacity: 1;
  }
  .feature-card1-root-class-name5 {
    width: 100%;
    opacity: 1;
  }
  .feature-card1-root-class-name6 {
    width: 100%;
    opacity: 1;
  }
  .feature-card1-root-class-name7 {
    width: 100%;
    opacity: 1;
  }
}
